{% extends 'main/auth.html' %}
{% block title %}Регистрация{% endblock %}

{%block content %}
    <div class='register'>
        <h1>Регистрация</h1>
        <form class='form-container' method="post">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li style='color: red'{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% csrf_token %}
            {{ form }}
            <input type='submit' id='button' value='Создать'>
            <div class='not_account'>Уже есть аккаунт?<a href='{% url 'sign_in' %}'>Авторизироваться</a></div>
        </form>
    </div>
{% endblock %}
