{% extends 'main/base.html' %}
{% load static %}
{% block title %}Чарты{% endblock %}
{% block content %}
<div class='chapter-welcome'>
    <div class='slogan'>
        <div class='slogan-container'>
            <h1>Чарты</h1>
            <p>Здесь собраны самые популярные треки сайта по данным пользователей</p>
        </div>
    </div>
    <div class='search'>
      <form method='get' class='search-container'>
          <input type='search' placeholder='Поиск артиста или музыки...' class='searchBar' name='search'>
          <button class='searchButton'><img src="{% static 'img/glass.png' %}" alt='glass'></button>
      </form>
    </div>
</div>
<div class='charts'>
    <div class='tracks'>
    <ol>
      {% for track in charts %}
              <li>
                  <div class='profile-track-container'>
                    <div class='track-info'>
                      <div class='track-circle'>
                        <img src="{% static '/img/track-circle.png'%}" alt='circle' class='circle'>
                      </div>
                      <div class='track-name-user'>
                        <p class='track-name'><b>{{ track.track_name}}</b></p>
                        <p class='track-user'>{{ track.user }}</p>
                      </div>
                      </div>
                        <p class='track-auditions'>{{track.auditions}}</p>
                        <audio id='audio' preload="auto" loop>
                          <source src="/media/{{ track.source }}" type='audio/mpeg' id='{{ track.id }}'>
                          <source src="/media/{{ track.source }}" type='audio/wav' id='{{ track.id }}'>
                          Ваш браузер не поддерживает audio. Пожалуйста, обновите браузер!
                        </audio>
                      </div>
              </li>
            {% endfor %}
      </ol>
    </div>
</div>
{% endblock %}
